* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-image: url("imagens/1920x1080 placeholder.jpg");
  /* Full height */
  height: 100%;
  width: 100%;
  /* Position and center the image to scale nicely on all screens */
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;

}

a {
  text-decoration: none;
  color: #ffffff;
}

p {
  margin-left: 50px;
  text-size-adjust: auto;
  list-style: none;
  display: flex;
  text-align: left;
  justify-content: space-between;
  text-indent: 0px;
  padding: 10px;
  padding-right: 150px;
  padding-left: 100px;
  width: 100%;
}

.header {
  background-color: #e54500;
  color: #000000;
  padding: 1.1rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: space-between;
  text-indent: 0px;
  padding: 10px;
  width: 100%;
}


.nav a:hover {
  background-color: #fe8957;
  color: rgb(255, 255, 255);
}

.nav a.active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.section {
  padding: 1.6rem;
}

.section-content {
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
}

/* CARDS PARA POST*/

.column {
  float: center;
  align-self: center;
  align-content: center;
  width: 1500px;
  height: auto;
  padding: 30 30px;
  text-size-adjust: auto;
}

.row {
  margin: 0 100px;
  float: center;
  align-self: center;
  align-content: center;
}

.row:after {

  content: "";
  display: table;
  clear: both;
}

.cardcardoso {
  margin-left: 100px;
  float: center;
  align-self: center;
  align-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20 20px;
  text-align: center;
  background-color: #f1f1f1;
}

@media screen and (max-width: 200px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.cardfont {
  font-family: 'Tahoma', sans-serif;
  padding-right: 100px;
  width: auto;
  font-size: 30px;
  list-style: none;
  display: flex;
  text-align: right;
  justify-content: center;
}

  @font-face {
    font-family: 'nexaextra_light';
    src: url('webfontkit-20240203-143715/nexa-extralight-webfont.woff2') format('woff2'),
      url('webfontkit-20240203-143715/nexa-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

  }

  @font-face {
    font-family: 'nexaheavy';
    src: url('webfontkit-20240203-143715/nexa-heavy-webfont.woff2') format('woff2'),
      url('webfontkit-20240203-143715/nexa-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

  }

  .button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
    margin-top: 2rem;
  }

  .footer {
    background-color: #333;
    color: #fff;
    padding: 2rem;
    text-align: center;
  }

  .titlemax {
    font-family: 'nexaheavy';
    font-size: 50px;

  }

  .headersobre {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px;
    text-align: center;
    background: #bc1a42;
    color: white;
    font-size: 20px;
  }

  .textbasic {
    margin-left: 50px;
    list-style: none;
    display: flex;
    text-align: left;
    justify-content: space-between;
    text-indent: 0px;
    padding: 10px;
    padding-right: 100px;
    width: 100%;
    font-size: 20px
  }

  [contenteditable] {
    outline: 0px solid transparent;
  }

  .container {
    position: relative;
    width: 250px;
    display: inline-block;
  }

  .image {
    display: inline-block;
    width: 250px;
    height: 300px;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #000000;

  }

  .container:hover .overlay {
    opacity: 1;
  }

  .sectionlado {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    width: 10px;
    height: 10px;
    background-color: white;
  }

  .textflip {
    color: white;
    font-family: 'nexaheavy';
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #c54572;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }

    .sidenav a {
      font-size: 18px;
    }
  }

  /* SLIDESHOW- FOTOS */
  img {
    vertical-align: middle;
  }

  /* Position the image container (needed to position the left and right arrows) */
  .containerslides {
    position: relative;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }

  .rowslides:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Six columns side by side */
  .columnslides {
    float: left;
    width: 16.66%;
  }

  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }

  /*AQUI ABAIXO O CÓDIGO DO cALENDÁRIO - EVENTOS*/
  .wrapper {
    max-width: 1100px;
    margin: 15px auto;
  }

  /* Calendar container */
  .container-calendar {
    background: #ffffff;
    padding: 15px;
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
  }

  .container-calendar-noadms {
    background: #ffffff;
    max-height: 1500px;
    padding: 15px;
    max-width: 900px;
    margin: 0 auto;
    overflow: auto;
    display: flex;
    justify-content: space-between;
  }

  /* Event section styling */
  #event-section {
    padding: 10px;
    background: #f5f5f5;
    margin: 20px 0;
    border: 1px solid #ccc;
  }

  .container-calendar #left h1 {
    color: green;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 10px 0;
  }

  #event-section h3 {
    color: green;
    font-size: 18px;
    margin: 0;
  }

  #event-section input[type="date"],
  #event-section input[type="text"] {
    margin: 10px 0;
    padding: 5px;
    width: 80%;
  }

  #event-section button {
    background: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  .event-marker {
    position: relative;
  }

  .event-marker::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  /* event tooltip styling */
  .event-tooltip {
    position: absolute;
    background-color: rgba(234, 232, 232, 0.763);
    color: black;
    padding: 10px;
    border-radius: 4px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    transition: all 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .event-marker:hover .event-tooltip {
    display: block;
  }

  /* Reminder section styling */
  #reminder-section {
    padding: 10px;
    background: #f5f5f5;
    margin: 20px 0;
    border: 1px solid #ccc;
  }

  #reminder-section h3 {
    color: green;
    font-size: 18px;
    margin: 0;
  }

  #reminderList {
    list-style: none;
    padding: 0;
  }

  #reminderList li {
    margin: 5px 0;
    font-size: 16px;
  }

  /* Style for the delete buttons */
  .delete-event {
    background: rgb(237, 19, 19);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    align-items: right;
  }

  /* Buttons in the calendar */
  .button-container-calendar button {
    cursor: pointer;
    background: green;
    color: #fff;
    border: 1px solid green;
    border-radius: 4px;
    padding: 5px 10px;
  }

  /* Calendar table */
  .table-calendar {
    border-collapse: collapse;
    width: 100%;
  }

  .table-calendar td,
  .table-calendar th {
    padding: 5px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
  }

  .table-calendar-noadms td,
  .table-calendar-noadms th {
    padding: 5px;
    border: 1px solid #f20000;
    text-align: center;
    vertical-align: top;
  }

  /* Date picker */
  .date-picker.selected {
    background-color: #f2f2f2;
    font-weight: bold;
    outline: 1px dashed #00BCD4;
  }

  .date-picker.selected span {
    border-bottom: 2px solid currentColor;
  }

  /* Day-specific styling */
  .date-picker:nth-child(1) {
    color: red;
    /* Sunday */
  }

  .date-picker:nth-child(6) {
    color: green;
    /* Friday */
  }

  /* Hover effect for date cells */
  .date-picker:hover {
    background-color: green;
    color: white;
    cursor: pointer;
  }

  /* Header for month and year */
  #monthAndYear {
    text-align: center;
    margin-top: 0;
  }

  /* Navigation buttons */
  .button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
  }

  #previous {
    float: left;
  }

  #next {
    float: right;
  }

  /* Footer styling */
  .footer-container-calendar {
    margin-top: 1em;
    border-top: 1px solid #dadada;
    padding: 10px 0;
  }

  .footer-container-calendar select {
    cursor: pointer;
    background: #ffffff;
    color: #585858;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
  }

  /*MODAL*/
  /* Full-width input fields */
  input[type=text],
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  /* Set a style for all buttons */
  .loginbtn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .loginbrabo {
    background-color: #c4520000;
    color: white;
    max-width: 100px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .loginbtn:hover {
    opacity: 0.8;
  }

  /* Extra styles for the cancel button */
  .cancelbtnlogin {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

  /* Center the image and position the close button */
  .imgcontainerlogin {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }

  img.avatarlogin {
    width: 40%;
    border-radius: 50%;
  }

  .containerlogin {
    padding: 16px;
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }

  /* The Modal (background) */
  .modallogin {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
  }

  /* Modal Content/Box */
  .modal-contentlogin {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
  }

  /* The Close Button (x) */
  .closelogin {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }

  .closelogin:hover,
  .closelogin:focus {
    color: red;
    cursor: pointer;
  }

  /* Add Zoom Animation */
  .animatelogin {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }

  @-webkit-keyframes animatezoom {
    from {
      -webkit-transform: scale(0)
    }

    to {
      -webkit-transform: scale(1)
    }
  }

  @keyframes animatezoom {
    from {
      transform: scale(0)
    }

    to {
      transform: scale(1)
    }
  }

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }

    .cancelbtnlogin {
      width: 100%;
    }
  }
/* Product CARD*/
.containerproduct {
  margin: 0px auto 0px auto;
  text-align: center;
  display: inline-block;
}
.product-card {
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000000;
  padding: 10px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.product-image {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  text-align: center;
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
}

.product-title {
  font-size: 24px;
  margin: 0;
  text-align: center;
}

.product-price {
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.add-to-cart-btn,
.view-btn {
  background-color: cornflowerblue;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.25s ease;
}

.add-to-cart-btn:hover,
.view-btn:hover { 
  opacity: 0.8;
}  